<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Register Router - POST</title>
</head>
<body>
    <form action="/auth/register" method="post">
        <input type="text" name="email" placeholder="Email">
        <input type="text" name="username" placeholder="User">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="confirmPassword" placeholder="Confirm Password">
        <input type="submit" value="Register">
    </form>
</body>
</html>